  
html {
  margin: 0;
  padding: 0;
}
body{
  border: 4px solid grey;
  margin-right: 100px;
  margin-top: 50px;
  margin-left: 100px;
}
canvas{
    margin-right: 100px;
   margin-top: 60px;
  margin-left: 270px;
}


